/*
 * Images
 */
/*
 * Layout
 */
@import '../fonts/ss-social-regular/ss-social-regular.css';
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
 * Text
 */
/*
 * Text selection
 */
/*
 * Corners and shadows
 */
/*
 * Transitions and animations
 */
/*
 * Transforms
 */
/*
 * Gradients
 */
/*
 * Filters
 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
strong,
em {
  font-style: inherit;
  font-weight: inherit;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type=text],
textarea,
input[type=password],
input[type=email],
input[type=url],
input[type=tel],
input[type=search],
input[type=number],
input[type=date] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0;
}
:focus {
  outline: none;
}
button,
input[type=submit] {
  -webkit-appearance: none;
}
strong {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 20px;
  line-height: 1.1;
  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #000000;
  letter-spacing: -0.015em;
}
h1.hidden,
h2.hidden,
h3.hidden,
h4.hidden,
h5.hidden {
  display: none;
}
h1 {
  font-size: 68px;
  line-height: 1;
}
h2,
h3 {
  font-size: 42px;
  line-height: 1.05;
}
@media screen and (max-width: 767px) {
  h2,
  h3 {
    font-size: 28px;
  }
}
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  padding: 0.7em 0.5em;
  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #f7e6bb;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-bottom: 2px solid #f7e6bb;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-transition-property: color border-color background-color;
  -webkit-transition-duration: 200ms;
  -webkit-transition-delay: 0ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: color border-color background-color;
  -moz-transition-duration: 200ms;
  -moz-transition-delay: 0ms;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: color border-color background-color;
  -ms-transition-duration: 200ms;
  -ms-transition-delay: 0ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: color border-color background-color;
  -o-transition-duration: 200ms;
  -o-transition-delay: 0ms;
  -o-transition-timing-function: ease-in-out;
  transition-property: color border-color background-color;
  transition-duration: 200ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 767px) {
  input {
    display: block;
  }
}
input.state-filled {
  color: #ffe14f;
  border-bottom-color: #ffe14f;
  background: rgba(0, 0, 0, 0.2);
}
input[type=submit] {
  background: #ffe14f;
  border-color: #ffe14f;
  color: #474248;
  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
input[type=submit]:hover {
  cursor: pointer;
  background-color: #f7e6bb;
  border-color: #f7e6bb;
}
/*
 * Media queries
 */
/*
 * Grid
 */
/*
 * Helpers
 */
/*
 * Global
 */
body {
  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #815e57;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  line-height: 1.3;
}
a {
  color: inherit;
}
svg {
  display: block;
}
.section {
  padding: 125px 30px;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
::selection {
  background: #ffe14f;
  color: #ffffff;
}
::-moz-selection {
  background: #ffe14f;
  color: #ffffff;
}
.bigbutton-holder {
  text-align: center;
}
.bigbutton-holder:before,
.bigbutton-holder:after {
  content: '';
  display: table;
}
.bigbutton-holder:after {
  clear: both;
}
.bigbutton-holder:before,
.bigbutton-holder:after {
  content: '';
  display: table;
}
.bigbutton-holder:after {
  clear: both;
}
.bigbutton {
  font-size: 24px;
  line-height: 1;
  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  display: inline-block;
  cursor: pointer;
  padding: 0.75em 1em;
  border: 2px solid #d62e33;
  text-decoration: none;
  color: #d62e33;
  -webkit-transition-property: color border-color;
  -webkit-transition-duration: 400ms;
  -webkit-transition-delay: 0ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: color border-color;
  -moz-transition-duration: 400ms;
  -moz-transition-delay: 0ms;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: color border-color;
  -ms-transition-duration: 400ms;
  -ms-transition-delay: 0ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: color border-color;
  -o-transition-duration: 400ms;
  -o-transition-delay: 0ms;
  -o-transition-timing-function: ease-in-out;
  transition-property: color border-color;
  transition-duration: 400ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
}
.bigbutton:hover {
  color: #991e22;
  border-color: #991e22;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  z-index: 9999;
  -webkit-transition-property: background;
  -webkit-transition-duration: 400ms;
  -webkit-transition-delay: 0ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: background;
  -moz-transition-duration: 400ms;
  -moz-transition-delay: 0ms;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: background;
  -ms-transition-duration: 400ms;
  -ms-transition-delay: 0ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: background;
  -o-transition-duration: 400ms;
  -o-transition-delay: 0ms;
  -o-transition-timing-function: ease-in-out;
  transition-property: background;
  transition-duration: 400ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
}
.header.state-sticky {
  background: rgba(255, 247, 233, 0.95);
}
.header ul {
  display: block;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .header ul {
    display: none;
  }
}
.header ul li {
  font-size: 14px;
  line-height: 1;
  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding: 24px 20px;
  display: inline-block;
  -webkit-transition-property: padding;
  -webkit-transition-duration: 400ms;
  -webkit-transition-delay: 0ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: padding;
  -moz-transition-duration: 400ms;
  -moz-transition-delay: 0ms;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: padding;
  -ms-transition-duration: 400ms;
  -ms-transition-delay: 0ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: padding;
  -o-transition-duration: 400ms;
  -o-transition-delay: 0ms;
  -o-transition-timing-function: ease-in-out;
  transition-property: padding;
  transition-duration: 400ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
}
.state-sticky.header ul li {
  padding-top: 8px;
  padding-bottom: 8px;
}
.header ul li.smalllogo {
  position: absolute;
  left: 30px;
  top: 10px;
  padding: 0;
  height: 30px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: all;
  -webkit-transition-duration: 400ms;
  -webkit-transition-delay: 0;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-property: all;
  -moz-transition-duration: 400ms;
  -moz-transition-delay: 0;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition-property: all;
  -ms-transition-duration: 400ms;
  -ms-transition-delay: 0;
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-property: all;
  -o-transition-duration: 400ms;
  -o-transition-delay: 0;
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-property: all;
  transition-duration: 400ms;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.state-sticky.header ul li.smalllogo {
  cursor: pointer;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.header ul li.smalllogo svg {
  display: block;
  width: 71.90082645px;
  height: 30px;
  opacity: 0.5;
}
.header ul li.smalllogo svg path {
  fill: #815e57;
}
.header ul li.smalllogo:hover svg {
  opacity: 1;
}
.header ul li.smalllogo:hover svg path {
  fill: #d62e33;
}
.header ul li a {
  display: block;
  cursor: pointer;
  padding: 0.75em 1em;
  border: 2px solid transparent;
  color: #f7e6bb;
  -webkit-transition-property: color border-color;
  -webkit-transition-duration: 400ms;
  -webkit-transition-delay: 0ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: color border-color;
  -moz-transition-duration: 400ms;
  -moz-transition-delay: 0ms;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: color border-color;
  -ms-transition-duration: 400ms;
  -ms-transition-delay: 0ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: color border-color;
  -o-transition-duration: 400ms;
  -o-transition-delay: 0ms;
  -o-transition-timing-function: ease-in-out;
  transition-property: color border-color;
  transition-duration: 400ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
}
.state-sticky.header ul li a {
  color: #e89e6c;
}
.header ul li a:hover {
  color: #d62e33;
}
.header ul li a.button {
  color: #ffe14f;
  border-color: #ffe14f;
}
.header ul li a.button:hover {
  color: #d62e33;
  border-color: #d62e33;
}
.state-sticky.header ul li a.button {
  color: #d62e33;
  border-color: #d62e33;
}
.state-sticky.header ul li a.button:hover {
  color: #991e22;
  border-color: #991e22;
}
.footer {
  border-top: 1px solid #fff7e9;
  display: block;
  margin: 0 30px;
  padding: 75px 8.33333333%;
  font-size: 16px;
  line-height: 1.5;
  color: #d62e33;
}
.footer a {
  cursor: pointer;
  color: #d62e33;
  margin-right: 2em;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .footer a {
    margin-right: 1em;
  }
}
.footer a:hover {
  color: #815e57;
}
.footer .footer-socials {
  float: right;
  /*@media @phone {
            float: none;
            margin-bottom: 1em;
        }*/
}
.footer .footer-socials a {
  margin-left: 1em;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .footer .footer-socials a {
    margin-left: 0;
    margin-right: 1em;
  }
}
.logo {
  display: block;
  width: 580px;
  height: 242px;
}
@media screen and (max-width: 767px) {
  .logo {
    width: 200px;
    height: 83.44827586px;
  }
}
.logo svg {
  display: block;
  width: 100%;
  height: 100%;
}
.logo h1 {
  display: none;
}
.hero {
  min-height: 130vh;
  position: relative;
}
@media screen and (max-width: 767px) {
  .hero {
    min-height: 115vh;
  }
}
html.no-cssvhunit .hero {
  min-height: 625px;
}
.hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
.hero .hero-content {
  height: 100vh;
  min-height: 600px;
}
html.no-cssvhunit .hero .hero-content {
  height: 550px;
}
.hero .hero-content .hero-content-membrane {
  z-index: 3;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}
.hero .logo {
  margin: 0 auto 0;
  padding-top: 5vh;
}
html.no-cssvhunit .hero .logo {
  padding-top: 40px;
}
.hero .logo svg path {
  fill: #fff7e9;
}
.hero .tagline {
  display: block;
  margin: 1em 30px 2em;
  font-size: 26px;
  line-height: 1.2;
  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #e89e6c;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hero .tagline {
    font-size: 18px;
  }
}
.hero .signup {
  display: block;
  margin: 16px 30px;
  text-align: center;
}
.hero .signup input.signup-name {
  width: 35%;
  max-width: 300px;
}
.hero .signup input.signup-email {
  width: 25%;
  max-width: 300px;
}
.hero .signup input.signup-zip {
  width: 10%;
  max-width: 100px;
}
.hero .signup .signup-error {
  display: block;
  margin: 12px 0 0 0;
  color: #d62e33;
  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 200ms;
  -webkit-transition-delay: 0ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 200ms;
  -moz-transition-delay: 0ms;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 200ms;
  -ms-transition-delay: 0ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: opacity;
  -o-transition-duration: 200ms;
  -o-transition-delay: 0ms;
  -o-transition-timing-function: ease-in-out;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
}
.hero .signup .signup-error.state-hidden {
  opacity: 0;
}
@media screen and (max-width: 1015px) and (min-width: 768px) {
  .hero .signup input.signup-submit {
    margin: 10px auto 0;
    width: auto;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .hero .signup input.signup-name,
  .hero .signup input.signup-email,
  .hero .signup input.signup-zip {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 10px;
  }
  .hero .signup input.signup-submit {
    margin: 0 auto 0;
  }
}
.hero .signup .pre-submit-form,
.hero .signup .post-submit-msg {
  min-height: 95px;
}
.hero .signup .post-submit-msg {
  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #f7e6bb;
  position: relative;
}
.hero .signup .post-submit-msg > span {
  position: relative;
  top: 8px;
}
.hero .slant {
  position: absolute;
  z-index: 1;
  bottom: -1px;
  left: -2vw;
  right: 0;
  height: 30vh;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .hero .slant {
    height: 15vh;
  }
}
html.no-cssvhunit .hero .slant {
  height: 75px;
}
.hero .slant svg {
  height: 100%;
  width: 100%;
}
.hero .slant svg polygon {
  fill: #fff7e9;
}
.hero .line {
  position: absolute;
  z-index: 2;
  left: 50%;
  width: 1px;
}
.hero .line.top {
  height: 20vh;
  bottom: 15vh;
  border-left: 1px dashed #f7e6bb;
  opacity: 0.75;
}
@media screen and (max-width: 767px) {
  .hero .line.top {
    height: 12.5vh;
    bottom: 7.5vh;
  }
}
html.no-cssvhunit .hero .line.top {
  height: 57.5px;
  bottom: 37.5px;
}
.hero .line.bottom {
  height: 15vh;
  bottom: 0;
  border-left: 1px dashed #815e57;
  opacity: 0.25;
}
@media screen and (max-width: 767px) {
  .hero .line.bottom {
    height: 7.5vh;
  }
}
html.no-cssvhunit .hero .line.bottom {
  height: 37.5px;
}
.section.about {
  background: #fff7e9;
  position: relative;
  z-index: 1;
  padding-top: 0;
}
.section.about .line {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  bottom: -75px;
  width: 1px;
  border-left: 1px dashed #815e57;
  opacity: 0.25;
}
.section.about ul {
  display: block;
  position: relative;
  z-index: 3;
}
.section.about ul li {
  display: block;
  max-width: 500px;
  padding: 100px 0;
  margin: 0 auto 0;
  text-align: center;
  background: -moz-linear-gradient(top, rgba(255, 247, 233, 0.1) 0%, #fff7e9 20%, #fff7e9 80%, rgba(255, 247, 233, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 247, 233, 0.1)), color-stop(20%, #fff7e9), color-stop(80%, #fff7e9), color-stop(100%, rgba(255, 247, 233, 0.1)));
  background: -webkit-linear-gradient(top, rgba(255, 247, 233, 0.1) 0%, #fff7e9 20%, #fff7e9 80%, rgba(255, 247, 233, 0.1) 100%);
  background: -o-linear-gradient(top, rgba(255, 247, 233, 0.1) 0%, #fff7e9 20%, #fff7e9 80%, rgba(255, 247, 233, 0.1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 247, 233, 0.1) 0%, #fff7e9 20%, #fff7e9 80%, rgba(255, 247, 233, 0.1) 100%);
  background: linear-gradient(to bottom, rgba(255, 247, 233, 0.1) 0%, #fff7e9 20%, #fff7e9 80%, rgba(255, 247, 233, 0.1) 100%);
}
@media screen and (max-width: 767px) {
  .section.about ul li {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.section.about ul li .thumb {
  width: 350px;
  height: 350px;
  border-radius: 175px;
  background: #f7e6bb;
  margin: 0 auto 40px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .section.about ul li .thumb {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
}
.section.about ul li h3 {
  margin-bottom: 0.5em;
  color: #d62e33;
}
.section.about ul li p {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 767px) {
  .section.about ul li p {
    font-size: 18px;
  }
}
.section.howitworks {
  padding-top: 150px;
  background: #ffffff;
  position: relative;
}
.section.howitworks:before,
.section.howitworks:after {
  content: '';
  display: table;
}
.section.howitworks:after {
  clear: both;
}
.section.howitworks:before,
.section.howitworks:after {
  content: '';
  display: table;
}
.section.howitworks:after {
  clear: both;
}
.section.howitworks .line {
  position: absolute;
  z-index: 2;
  opacity: 0.25;
}
@media screen and (max-width: 767px) {
  .section.howitworks .line {
    display: none;
  }
}
.section.howitworks .line.horizontal {
  top: 75px;
  right: 50%;
  left: 18%;
  height: 1px;
  border-bottom: 1px dashed #815e57;
}
.section.howitworks .line.vertical {
  top: 76px;
  left: 18%;
  height: 75px;
  width: 1px;
  border-left: 1px dashed #815e57;
}
.section.howitworks ul:before,
.section.howitworks ul:after {
  content: '';
  display: table;
}
.section.howitworks ul:after {
  clear: both;
}
.section.howitworks ul:before,
.section.howitworks ul:after {
  content: '';
  display: table;
}
.section.howitworks ul:after {
  clear: both;
}
.section.howitworks ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 33%;
  padding: 20px 3%;
}
@media screen and (max-width: 767px) {
  .section.howitworks ul li {
    float: none;
    width: auto;
    padding-bottom: 40px;
  }
}
.section.howitworks ul li svg {
  display: block;
  width: 175px;
  height: 175px;
  margin: 0 auto 0;
}
@media screen and (max-width: 767px) {
  .section.howitworks ul li svg {
    width: 125px;
    height: 125px;
  }
}
.section.howitworks ul li:nth-child(1) svg path {
  fill: #ffe14f;
}
.section.howitworks ul li:nth-child(2) svg path {
  fill: #dee338;
}
.section.howitworks ul li:nth-child(3) svg path {
  fill: #92cb37;
}
.section.howitworks ul li p {
  margin: 1em auto 0;
  max-width: 300px;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
}
.section.howitworks ul li p a {
  text-decoration: underline;
  cursor: pointer;
}
.section.howitworks ul li p a:hover {
  color: #d62e33;
}
.section.howitworks .bigbutton-holder {
  margin-top: 90px;
}
